
coloredlogs
PyJWT
dataclasses; python_version < '3.7.0'
# tartiflette>=1.0.0rc2
# tartiflette-asgi
tartiflette_plugin_apollo_federation
motor
tartiflette_scalars>=0.0.6
mongodb_streams>=0.0.7
mangum
